*{
    background-color: #000;
}
.btn{
    background-color: #000;
    color: #fff;
    border: solid 3px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border-color: #efc657;
    box-shadow:0px 0px 10px 3px #a28020
}