* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body{
  background-image: url("assets/pexels-maxyne-barcel-10402282 1.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.container div{
  float: left;
  margin-top: 40px;
  justify-content: center;
}
.navbar div>img{
  margin-left: 70px;
}
.list{
  margin-left: 200px;
  margin-top: 20px;
  color: #dde118;
}
.list li{
  float: left;
  list-style: none;
  margin-left: 90px;
}
.container div:nth-of-type(3){
  float: right;
  margin-right: 100px;
  margin-top: 50px;
}
.button-small{
  background-color: #da2b33;
  border-color:#e11822;
  padding: 10px 20px;
  color: #ffffff;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.container .section .hero{
  width: 35%; 
  text-align: center;
  
  
}
section .hero .hero-heading{
  color: #dacb2bfb;
  width: 60%;
  font-size: 4.5rem;
  margin-left: 20%;
  text-align: center;
}
section .hero .button-large{
  border: 1px solid red;
  padding: 10px 15px;
  margin-left: 33%;
  margin-top: 70px;
  background-color: #e11822;
  color: #ffffff;
}
section .hero .bottom img{
  border: 1px solid red;
  margin-top: 350px;
  margin-left: 1200px;
}